In [3]:
import pandas as pd

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [25]:
ratings = pd.read_csv('ratings.csv')

ratings = ratings[ratings.rating.eq(5.0)]

max_value=ratings_5['movieId'].value_counts().idxmax()

movies = pd.read_csv('movies.csv')

movies[movies.movieId.eq(max_value)]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [44]:
import numpy as np
power = pd.read_csv('power.csv')
power.head(5)
np.sort(power['country'].unique())
#'Latvia','Estonia','Lithuania'
power_2=power[power['country'].isin(['Latvia','Estonia','Lithuania'])]
power_3=power_2[power_2['category'].isin(['4','12','21'])]
power_4=power_3[ (power_3['year']>=2005) & (power_3['year']<=2010) & (power_3['quantity']>=0)]
power_4['quantity'].sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [52]:
page_url = 'https://www.cbr.ru/hd_base/metall/metall_base_new/'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
#<div class="table-wrapper">
 # <div class="table-caption gray">

df = pd.read_html(page_url, attrs = {'class': 'data'}, encoding='utf-8')
df

[        Дата*      Золото  Серебро     Платина    Палладий
 0  23.05.2020  4 003,7000   392900  1 915,8200  4 575,7900
 1  22.05.2020  3 951,2300   392300  1 922,2600  4 647,1700
 2  21.05.2020  4 070,1300   406300  1 976,8600  4 809,5900
 3  20.05.2020  4 038,7100   398500  1 875,9200  4 633,9500
 4  19.05.2020  4 122,3100   407100  1 914,6200  4 505,0000
 5  16.05.2020  4 083,1700   382500  1 821,7000  4 295,3400
 6  15.05.2020  4 079,7100   369100  1 818,3300  4 302,1800
 7  14.05.2020  4 021,3500   368100  1 797,9400  4 341,0800
 8  13.05.2020  4 021,6900   365600  1 810,8200  4 403,1000]